.custom-img {
  background-image: url("../../pc/assets/bg/3.png");
}
.custom-img-2 {
  background-image: url("../../pc/assets/bg/1.png");
}
.custom-img-3 {
  background-image: url("../../pc/assets/bg/23.jpg");
}

*::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
}
.card{
  max-height: 200px;
  transition: max-height 0.50s ease-out;
  overflow: hidden;
}
.card:hover{
  max-height: 500px;
  transition: max-height 0.50s ease-in;
}
a.active {
  color: #000; /* Set your desired active link color */
  border: solid 1px black;
  border-color: #000; /* Set your desired active link border color */
  font-weight: bold; /* Add any styling you want for active links */
}
